body {
  background: #d9ecff;
  color: #111;
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.7;
}

.hero {
  text-align: center;
  padding: 120px 20px 80px;
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 60px 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 40px;
  font-weight: normal;
}

.intro {
  max-width: 650px;
  margin: 30px auto;
  font-size: 18px;
}

.project {
  margin-top: 25px;
}

.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.btn:hover {
  background: black;
  color: white;
}

.contact-links a {
  color: black;
  text-decoration: none;
}
